# idea
*.iml
.idea/
*.ipr
*.iws

# osx
.DS_Store

# dir
*_commod/
*_dataset_processing/
*_local_module/
*_related_information/
*_test_models/
*backup/
*backup_running/
*results/
*wandb/
*.ipynb_checkpoints/
*__pycache__/

# file
*.pyc
*.txt
*.pkl
*.tar
*.jpg
*.pdf
*.npy
*.gif
*.mp4
*.mat
*.json
*.pth
*.log
*.png

